{% extends "base.html" %}
{% block title %}Home - Hydroponic Dashboard{% endblock %}

{% block extra_css %}

<style>
    
.trend-chart-wrapper {
    position: relative;
    height: 380px;
}
#combinedChart {
    width: 100% !important;
    height: 100% !important;
}

#chartMessage {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #9CA3AF;
    font-size: 18px;
    text-align: center;
    /* width: 80%;
    max-width: 600px; */
}

.progress-bar {
    transition: width 0.5s ease, background-color 0.3s ease;
}

a {
    text-decoration: none;
}

</style>
{% endblock %}

{% block content %}
<div class="max-w-6xl mx-auto p-6">

    <h1 class="text-3xl font-bold mb-6">Current Values</h1>

    <!-- Realtime Data (2 columns fluid) -->
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-6 mb-8">

        <div id="phCard" class="p-6 rounded-xl border transition">
            <div class="flex justify-between items-center mb-2">
                <h2 class="text-lg font-semibold">pH Level</h2>
            </div>

            <p class="text-4xl font-bold" id="ph">--</p>

            <div class="mt-4 h-2 bg-gray-200 rounded overflow-hidden relative">
                <!-- Optimal zone -->
                <div id="phOptimum"
                    class="absolute top-0 h-2 bg-green-200 opacity-60"></div>
                <!-- Current value -->
                <div id="phBar"
                    class="h-2 bg-green-500 w-0"></div>
            </div>
            
            <div class="grid grid-cols-3">
                <p id="phMinText" class="text-sm text-gray-500 mt-2 text-left">Min</p>
                <p id="phOptimalText" class="text-sm text-gray-500 mt-2 text-center"></p>
                <p id="phMaxText" class="text-sm text-gray-500 mt-2 text-right">Max</p>
            </div>

        </div>

        <div id="tdsCard" class="p-6 rounded-xl border transition">
            <h2 class="text-lg font-semibold mb-2">TDS</h2>
            <p class="text-4xl font-bold"><span id="tds">--</span> ppm</p>

            <div class="mt-4 h-2 bg-gray-200 rounded overflow-hidden relative">
                <div id="tdsOptimum" class="absolute top-0 h-2 bg-green-200 opacity-60"></div>
                <div id="tdsBar" class="h-2 bg-green-500 w-0"></div>
            </div>
            
            <div class="grid grid-cols-3">
                <p id="tdsMinText" class="text-sm text-gray-500 mt-2 text-left">Min</p>
                <p id="tdsOptimalText" class="text-sm text-gray-500 mt-2"></p>
                <p id="tdsMaxText" class="text-sm text-gray-500 mt-2 text-right">Max</p>
            </div>

        </div>

        <div id="tempCard" class="p-6 rounded-xl border transition">
            <h2 class="text-lg font-semibold mb-2">Air Temperature</h2>
            <p class="text-4xl font-bold"><span id="temp">--</span> °C</p>

            <div class="mt-4 h-2 bg-gray-200 rounded overflow-hidden relative">
                <div id="tempOptimum" class="absolute top-0 h-2 bg-green-200 opacity-60"></div>
                <div id="tempBar" class="h-2 bg-green-500 w-0"></div>
            </div>

            <div class="grid grid-cols-3">
                <p id="tempMinText" class="text-sm text-gray-500 mt-2 text-left">Min</p>
                <p id="tempOptimalText" class="text-sm text-gray-500 mt-2"></p>
                <p id="tempMaxText" class="text-sm text-gray-500 mt-2 text-right">Max</p>
            </div>
        </div>

        <div id="humidityCard" class="p-6 rounded-xl border transition">
            <h2 class="text-lg font-semibold mb-2">Humidity</h2>
            <p class="text-4xl font-bold"><span id="humidity">--</span> %</p>

            <div class="mt-4 h-2 bg-gray-200 rounded overflow-hidden relative">
                <div id="humidityOptimum" class="absolute top-0 h-2 bg-green-200 opacity-60"></div>
                <div id="humidityBar" class="h-2 bg-green-500 w-0"></div>
            </div>

            <div class="grid grid-cols-3">
                <p id="humidityMinText" class="text-sm text-gray-500 mt-2 text-left">Min</p>
                <p id="humidityOptimalText" class="text-sm text-gray-500 mt-2 text-center"></p>
                <p id="humidityMaxText" class="text-sm text-gray-500 mt-2 text-right">Max</p>
            </div>
        </div>

        <div class="flex items-center gap-2">
            <p class="text-sm font-extralight text-left italic">Last update:</p>
            <p class="text-sm font-extralight text-left italic" id="lastUpdate"></p>
        </div>

    </div>

    <!-- Graphs Section -->
    <div class="space-y-8">
        <div class="bg-white p-6 rounded shadow">
            <div class="flex justify-between items-center mb-4">
                <h2 class="text-xl font-semibold">Trend</h2>
                    <div class="flex gap-2">
                        <button onclick="changeRange(this, '12h')" class="transition-colors duration-500 range-btn px-3 py-1 bg-emerald-100 rounded hover:bg-emerald-200 focus:bg-emerald-500 active:bg-gray-600">12H</button>
                        <button onclick="changeRange(this, '1d')" class="transition-colors duration-500 range-btn px-3 py-1 bg-emerald-100 rounded hover:bg-emerald-200 focus:bg-emerald-500 active:bg-gray-600">24H</button>
                        <button onclick="changeRange(this, '3d')" class="transition-colors duration-500 range-btn px-3 py-1 bg-emerald-100 rounded hover:bg-emerald-200 focus:bg-emerald-500 active:bg-gray-600">3D</button>
                        <button onclick="changeRange(this, '7d')" class="transition-colors duration-500 range-btn px-3 py-1 bg-emerald-100 rounded hover:bg-emerald-200 focus:bg-emerald-500 active:bg-gray-600">7D</button>
                        <button onclick="changeRange(this, 'all')" class="transition-colors duration-500 range-btn px-3 py-1 bg-emerald-100 rounded hover:bg-emerald-200 focus:bg-emerald-500 active:bg-gray-600">All</button>
                    </div>
            </div>
            <div class="trend-chart-wrapper">
                <!-- <h2 class="text-x1 font-semibold mb-4">Trend</h2> -->
                <canvas id="combineChart"></canvas>

                <div id="chartMessage" class="hidden">
                    No data available for selected range
                </div>
            </div>

            <div class="flex justify-end mt-4">
                <a href="{% url 'detailed_graph' %}" class="px-2 py-1 bg-emerald-600 text-white rounded hover:bg-emerald-700">
                    View More →
                </a>
            </div>
        </div>

        <!-- <div class="bg-white p-6 rounded shadow">
            <h2 class="text-xl font-semibold mb-4">pH Trend</h2>
            <canvas id="phChart"></canvas>
        </div>

        <div class="bg-white p-6 rounded shadow">
            <h2 class="text-xl font-semibold mb-4">TDS Trend</h2>
            <canvas id="tdsChart"></canvas>
        </div>

        <div class="bg-white p-6 rounded shadow">
            <h2 class="text-xl font-semibold mb-4">Temperature Trend</h2>
            <canvas id="tempChart"></canvas>
        </div>

        <div class="bg-white p-6 rounded shadow">
            <h2 class="text-xl font-semibold mb-4">Humidity Trend</h2>
            <canvas id="humidityChart"></canvas>
        </div> -->

    </div>

</div>
{% endblock %}

{% block extra_js %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns"></script>
<script src="https://cdn.jsdelivr.net/npm/hammerjs@2.0.8"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-zoom@2.0.1"></script>

<script>
    const STATUS_STYLES = {
        good: {
            card: ["bg-green-50", "border-green-300", "outline", "outline-green-500"],
            bar: "bg-green-500"
        },
        ok: {
            card: ["bg-yellow-50", "border-yellow-300", "outline", "outline-yellow-500"],
            bar: "bg-yellow-500"
        },
        bad: {
            card: ["bg-red-50", "border-red-300", "outline", "outline-red-500"],
            bar: "bg-red-500"
        }
    };

    let SENSOR_CONFIG = null;

    async function fetchConfig() {
        const res = await fetch("{% url 'config_api' %}");
        SENSOR_CONFIG = await res.json();

        applyConfigToUI();
    }

    async function fetchCurrentData() {
        try {
            const response = await fetch("{% url 'current_api' %}");
            const data = await response.json();
            const ranges = SENSOR_CONFIG.sensor_ranges;

            document.getElementById("ph").textContent = data.ph ? data.ph.toFixed(2) : "--";
            document.getElementById("tds").textContent = data.tds || "--";
            document.getElementById("temp").textContent = data.airTemp ? data.airTemp.toFixed(1) : "--";
            document.getElementById("humidity").textContent = data.humidity ? data.humidity.toFixed(1) : "--";
            document.getElementById("lastUpdate").textContent = data.datetime ? new Date(data.datetime).toLocaleString() : '--';

            // updateSensorCard("phCard", "phBar", data.ph, ranges.ph.scale_min, ranges.ph.scale_max, data.ph_status);
            // updateSensorCard("tdsCard", "tdsBar", data.tds, 50, 300, data.tds_status);
            // updateSensorCard("tempCard", "tempBar", data.airTemp, 10, 30, data.temp_status);
            // updateSensorCard("humidityCard", "humidityBar", data.humidity, 30, 90, data.humidity_status);

            updateSensorCard(
                "phCard", 
                "phBar", 
                data.ph, 
                ranges.ph.scale_min, 
                ranges.ph.scale_max, 
                data.ph_status
            );

            updateSensorCard(
                "tdsCard", 
                "tdsBar", 
                data.tds, 
                ranges.tds.scale_min, 
                ranges.tds.scale_max, 
                data.tds_status
            );

            updateSensorCard("tempCard", 
                "tempBar", 
                data.airTemp, 
                ranges.temp.scale_min, 
                ranges.temp.scale_max, 
                data.temp_status
            );

            updateSensorCard("humidityCard", 
                "humidityBar", 
                data.humidity, 
                ranges.humidity.scale_min, 
                ranges.humidity.scale_max, 
                data.humidity_status
            );

        } catch (err) {
            console.error("Fetch error:", err);
        }
    }

    let combineChart

    function createCombinedChart(ctx, datasets) {
    return new Chart(ctx, {
        type: 'line',
        data: { datasets: datasets },
        options: {
            responsive: true,
            maintainAspectRatio: false,
            interaction: {
                mode: 'index',
                intersect: false
            },
            plugins: {
                legend: {
                    display: true,
                    position: 'bottom'
                },
                // zoom: {
                //     pan: {
                //         enabled: true,
                //         mode: 'x',
                //         limits: {
                //             x: {
                //                 min: 'original',
                //                 max: 'original',
                //             }
                //         }
                //     },
                //     zoom: {
                //         wheel: {
                //             enabled: true
                //         },
                //         pinch: {
                //             emabled: true
                //         },
                //         mode: 'x',
                //         limits: {
                //             x: {
                //                 min: 0,
                //                 max: 100,
                //                 minRange: 5
                //             },
                //             y: {
                //                 min: 0,
                //                 max: 100,
                //                 minRange: 5
                //             }
                //         }
                //     }
                // }
            },
            scales: {
                x: {
                    type: 'time',
                    time: {
                        unit: 'hour',
                        tooltipFormat: 'MMM d, HH:mm'
                    },
                    title: { display: true, text: 'Time' }
                },
                y: {
                    type: 'linear',
                    position: 'left',
                    title: { display: true, text: 'pH / Temp' }
                },
                y1: {
                    type: 'linear',
                    position: 'right',
                    title: { display: true, text: 'TDS / Humidity' },
                    grid: {
                        drawOnChartArea: false
                    }
                }
            }
        }
    });
    }

    async function  fetchHourlyData(range = "3d") {
        try {
            const response = await fetch (`/api/hourly_history/?range=${range}`);
            const hourlyData = await response.json();

            if (!Array.isArray(hourlyData) || hourlyData.length === 0) {

                document.getElementById("chartMessage").classList.remove("hidden");

                if (combineChart) {
                combineChart.data.datasets.forEach(ds => ds.data = []);
                combineChart.update();
                }
                console.warn("No data available.");
                return;
            }
            const phPoints = hourlyData.map(h => ({
                x: new Date(h.hour),
                y: h.avg_ph
            }));

            const tdsPoints = hourlyData.map(h => ({
                x: new Date(h.hour),
                y: h.avg_tds
            }));

            const tempPoints = hourlyData.map(h => ({
                x: new Date(h.hour),
                y: h.avg_temp
            }));

            const humidityPoints = hourlyData.map(h => ({
                x: new Date(h.hour),
                y: h.avg_humidity
            }));

            if (!combineChart) {

                combineChart = createCombinedChart(
                    document.getElementById("combineChart"),
                    [
                        {
                            label: "pH",
                            data: phPoints,
                            borderColor: "#0d6efd",
                            backgroundColor: "#0d6efd33",
                            tension: 0.3,
                            fill: false,
                            pointRadius: 2,
                            yAxisID: 'y'
                        },
                        {
                            label: "Temperature (°C)",
                            data: tempPoints,
                            borderColor: "#ffc107",
                            backgroundColor: "#ffc10733",
                            tension: 0.3,
                            fill: false,
                            pointRadius: 2,
                            yAxisID: 'y'
                        },
                        {
                            label: "Humidity (%)",
                            data: humidityPoints,
                            borderColor: "#fd7e14",
                            backgroundColor: "#fd7e1433",
                            tension: 0.3,
                            fill: false,
                            pointRadius: 2,
                            yAxisID: 'y1'
                        },
                        {
                            label: "TDS (ppm)",
                            data: tdsPoints,
                            borderColor: "#198754",
                            backgroundColor: "#19875433",
                            tension: 0.3,
                            fill: false,
                            pointRadius: 2,
                            yAxisID: 'y1'
                        }
                    ]
                );

            } else {

                combineChart.data.datasets[0].data = phPoints;
                combineChart.data.datasets[1].data = tempPoints;
                combineChart.data.datasets[2].data = humidityPoints;
                combineChart.data.datasets[3].data = tdsPoints;

                combineChart.update();
            }
            
            document.getElementById("chartMessage").classList.add("hidden");

        } catch (err) {
            console.error("Failed to fetch hourly data:", err);
        }
    }

    // // initial
    // fetchCurrentData();
    // fetchHourlyData("3d");

    // // Refresh periodically
    // setInterval(fetchCurrentData, 60000); //1min
    // setInterval(fetchHourlyData, 3600000); // 1h


    function changeRange(button, newRange) {

        document.querySelectorAll('.range-btn').forEach(btn => {
            btn.classList.remove('bg-emerald-500', 'text-white');
        });

        button.classList.add('bg-emerald-500', 'text-white');
        
        fetchHourlyData(newRange);
    }

    function updateSensorCard(cardId, barId, value, min, max, status) {
        const card = document.getElementById(cardId);
        const bar = document.getElementById(barId);

        // Reset card colours
        card.classList.remove(
            "bg-green-50","border-green-300",
            "bg-yellow-50","border-yellow-300",
            "bg-red-50","border-red-300"
        );

        // Reset bar colours
        bar.classList.remove("bg-green-500","bg-yellow-500","bg-red-500");

        const style = STATUS_STYLES[status] || STATUS_STYLES.bad;

        card.classList.add(...style.card);
        bar.classList.add(style.bar);

        const percent = Math.max(0, Math.min(100, ((value - min) / (max - min)) * 100));
        bar.style.width = percent + "%";
    }

    function updateOptimumZone(optId, optMin, optMax, scaleMin, scaleMax) {
        const opt = document.getElementById(optId);

        const left = ((optMin - scaleMin) / (scaleMax - scaleMin)) * 100;
        const width = ((optMax - optMin) / (scaleMax - scaleMin)) * 100;

        opt.style.left = left + "%";
        opt.style.width = width + "%";
    }

    function applyConfigToUI() {
        const ranges = SENSOR_CONFIG.sensor_ranges;

        updateOptimumZone(
            "phOptimum",
            ranges.ph.opt_min,
            ranges.ph.opt_max,
            ranges.ph.scale_min,
            ranges.ph.scale_max
        );

        updateOptimumZone(
            "tdsOptimum",
            ranges.tds.opt_min,
            ranges.tds.opt_max,
            ranges.tds.scale_min,
            ranges.tds.scale_max
        );

        updateOptimumZone(
            "tempOptimum",
            ranges.temp.opt_min,
            ranges.temp.opt_max,
            ranges.temp.scale_min,
            ranges.temp.scale_max
        );

        updateOptimumZone(
            "humidityOptimum",
            ranges.humidity.opt_min,
            ranges.humidity.opt_max,
            ranges.humidity.scale_min,
            ranges.humidity.scale_max
        );

        updateOptimalText(ranges)
    }

    function updateOptimalText(ranges) {
        // ph section
        document.getElementById("phMinText").textContent = `${ranges.ph.scale_min}`
        document.getElementById("phMaxText").textContent = `${ranges.ph.scale_max}`
        document.getElementById("phOptimalText").textContent =
            `Optimal: ${ranges.ph.opt_min} — ${ranges.ph.opt_max}`;


        // tds section
        document.getElementById("tdsMinText").textContent = `${ranges.tds.scale_min}`
        document.getElementById("tdsMaxText").textContent = `${ranges.tds.scale_max}`
        document.getElementById("tdsOptimalText").textContent =
            `Optimal: ${ranges.tds.opt_min} — ${ranges.tds.opt_max}`;

        // temp section
        document.getElementById("tempMinText").textContent = `${ranges.temp.scale_min}`
        document.getElementById("tempMaxText").textContent = `${ranges.temp.scale_max}`
        document.getElementById("tempOptimalText").textContent =
            `Optimal: ${ranges.temp.opt_min} — ${ranges.temp.opt_max}`;

        // humidity section
        document.getElementById("humidityMaxText").textContent = `${ranges.humidity.scale_max}`
        document.getElementById("humidityMinText").textContent = `${ranges.humidity.scale_min}`
        document.getElementById("humidityOptimalText").textContent =
            `Optimal: ${ranges.humidity.opt_min} — ${ranges.humidity.opt_max}`;
    }

    document.addEventListener("DOMContentLoaded", async function () {
        await fetchConfig();

        fetchCurrentData();
        fetchHourlyData("3d");
        // updateOptimumZone("phOptimum", 5.5, 6.5, 0, 14);
        // updateOptimumZone("tdsOptimum", 500, 700, 0, 1000);
        // updateOptimumZone("tempOptimum", 0, 24, 10, 40);
        // updateOptimumZone("humidityOptimum", 50, 70, 0, 100);

        setInterval(fetchCurrentData, 60000);
        setInterval(fetchHourlyData, 3600000);

        const defaultBtn = [...document.querySelectorAll('.range-btn')]
        .find(btn => btn.textContent.trim() === '3D');

        if (defaultBtn) {
            defaultBtn.classList.add('bg-emerald-500', 'text-white');
        }
    });

</script>
{% endblock %}