.venv/
.vscode/

#// secrets
arduinoIDE/ESP8266_Arduino/8826/secrets.h
arduinoIDE/ESP8266_Arduino/8826V2/secrets.h

#// scripts
scripts/monitor_backup.py

#// root
serviceAccount.json
.secrets.txt
arduinoIDE/ESP32
arduinoIDE/ESP32/compress/secrets.h
arduinoIDE/ESP32/eduroam/secrets.h
arduinoIDE/ESP8266_Arduino/ESP32_test/secrets.h
arduinoIDE/Main/ESP32V1/secrets.h
arduinoIDE/ESP32/WPA2_Enter
arduinoIDE/ESP8266

#// backend // web project
web/serviceAccount.json
web/data/services/firebase/serviceAccount.json

# arduinoIDE/ESP32/compress/secrets.h
# arduinoIDE/ESP32/eduroam/secrets.h
# arduinoIDE/ESP8266_Arduino/8826/secrets.h
# arduinoIDE/ESP8266_Arduino/8826V2/secrets.h
# arduinoIDE/ESP8266_Arduino/ESP32_test/secrets.h
# arduinoIDE/Main/ESP32V1/secrets.h

.env
*.env
*serviceAccount.json
backup.html
