.venv/
.vscode/

#// secrets
src/arduinoIDE/ESP8266_Arduino/8826/secrets.h

#// scripts
scripts/monitor_backup.py

#// root
newServiceAccount.json
service_account_file.json
.secrets
firebase_base64.txt