{% extends "base.html" %}
{% block title %}Home - Hydroponic Dashboard{% endblock %}

{% block extra_css %}
<!-- Tailwind + optional custom CSS -->
<script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

<style>
    .trend-chart-wrapper {
    position: relative;
    height: 380px; /* adjust to match your design */
}
#combinedChart {
    width: 100% !important;
    height: 100% !important;
}

#chartMessage {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #9CA3AF;
    font-size: 18px;
    text-align: center;
    /* width: 80%;
    max-width: 600px; */
}
</style>
{% endblock %}

{% block content %}
<div class="max-w-6xl mx-auto p-6">

    <h1 class="text-3xl font-bold mb-6">Current Values</h1>

    <!-- Realtime Data (2 columns fluid) -->
    <div class="grid grid-cols-1 md:grid-cols-4 gap-6 mb-8">

        <div class="bg-white p-6 rounded shadow">
            <h2 class="text-lg font-semibold mb-2">pH</h2>
            <p class="text-2xl" id="ph">--</p>
        </div>

        <div class="bg-white p-6 rounded shadow">
            <h2 class="text-lg font-semibold mb-2">TDS (ppm)</h2>
            <p class="text-2xl" id="tds">--</p>
        </div>

        <div class="bg-white p-6 rounded shadow">
            <h2 class="text-lg font-semibold mb-2">Air Temperature (°C)</h2>
            <p class="text-2xl" id="temp">--</p>
        </div>

        <div class="bg-white p-6 rounded shadow">
            <h2 class="text-lg font-semibold mb-2">Humidity (%)</h2>
            <p class="text-2xl" id="humidity">--</p>
        </div>


        <div class="flex items-center gap-2">
            <p class="text-sm font-extralight text-left italic">Last update:</p>
            <p class="text-sm font-extralight text-left italic" id="lastUpdate"></p>
        </div>

    </div>


    <!-- Graphs Section -->
    <div class="space-y-8">
        <div class="flex justify-between items-center mb-4">
            <h2 class="text-xl font-semibold">Trend</h2>

            <div class="flex gap-2">
                <button onclick="changeRange('12h')" class="px-3 py-1 bg-gray-100 rounded hover:bg-gray-200">12H</button>
                <button onclick="changeRange('1d')" class="px-3 py-1 bg-gray-100 rounded hover:bg-gray-200">24H</button>
                <button onclick="changeRange('3d')" class="px-3 py-1 bg-gray-100 rounded hover:bg-gray-200">3D</button>
                <button onclick="changeRange('7d')" class="px-3 py-1 bg-gray-100 rounded hover:bg-gray-200">7D</button>
                <button onclick="changeRange('all')" class="px-3 py-1 bg-gray-100 rounded hover:bg-gray-200">All</button>
            </div>
        </div>


        <div class="bg-white p-6 rounded shadow">
            <div class="trend-chart-wrapper">
                <!-- <h2 class="text-x1 font-semibold mb-4">Trend</h2> -->
                <canvas id="combineChart"></canvas>

                <div id="chartMessage" class="hidden">
                     No data available for selected range
                </div>
            </div>
        </div>

        <!-- <div class="bg-white p-6 rounded shadow">
            <h2 class="text-xl font-semibold mb-4">pH Trend</h2>
            <canvas id="phChart"></canvas>
        </div>

        <div class="bg-white p-6 rounded shadow">
            <h2 class="text-xl font-semibold mb-4">TDS Trend</h2>
            <canvas id="tdsChart"></canvas>
        </div>

        <div class="bg-white p-6 rounded shadow">
            <h2 class="text-xl font-semibold mb-4">Temperature Trend</h2>
            <canvas id="tempChart"></canvas>
        </div>

        <div class="bg-white p-6 rounded shadow">
            <h2 class="text-xl font-semibold mb-4">Humidity Trend</h2>
            <canvas id="humidityChart"></canvas>
        </div> -->

    </div>

</div>
{% endblock %}

{% block extra_js %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns"></script>
<script src="https://cdn.jsdelivr.net/npm/hammerjs@2.0.8"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-zoom@2.0.1"></script>

<script>
    async function fetchCurrentData() {
        try {
            const response = await fetch("{% url 'current_api' %}");
            const data = await response.json();

            document.getElementById("ph").textContent = data.ph ? data.ph.toFixed(2) : "--";
            document.getElementById("tds").textContent = data.tds || "--";
            document.getElementById("temp").textContent = data.airTemp ? data.airTemp.toFixed(1) : "--";
            document.getElementById("humidity").textContent = data.humidity ? data.humidity.toFixed(1) : "--";
            document.getElementById("lastUpdate").textContent = data.datetime ? new Date(data.datetime).toLocaleString() : '--';

            document.getElementById()
        } catch (err) {
            console.error("Fetch error:", err);
        }
    }

    let combineChart

    function createCombinedChart(ctx, datasets) {
    return new Chart(ctx, {
        type: 'line',
        data: { datasets: datasets },
        options: {
            responsive: true,
            maintainAspectRatio: false,
            interaction: {
                mode: 'index',
                intersect: false
            },
            plugins: {
                legend: {
                    display: true,
                    position: 'bottom'
                },
                // zoom: {
                //     pan: {
                //         enabled: true,
                //         mode: 'x'
                //     },
                //     zoom: {
                //         wheel: {
                //             enabled: true
                //         },
                //         pinch: {
                //             emabled: true
                //         },
                //         mode: 'x',
                //         limits: {
                //             x: {
                //                 min: 'original',
                //                 max: 'original',
                //                 minRange: 5
                //             },
                //             y: {
                //                 min: 0,
                //                 max: 100,
                //                 minRange: 5
                //             }
                //         }
                //     }
                // }
            },
            scales: {
                // scales need to change when selected on all time.
                x: {
                    type: 'time',
                    time: {
                        unit: 'hour',
                        tooltipFormat: 'MMM d, HH:mm'
                    },
                    title: { display: true, text: 'Time' }
                },
                y: {
                    type: 'linear',
                    position: 'left',
                    title: { display: true, text: 'pH / Temp' }
                },
                y1: {
                    type: 'linear',
                    position: 'right',
                    title: { display: true, text: 'TDS / Humidity' },
                    grid: {
                        drawOnChartArea: false
                    }
                }
            }
        }
    });
    }

    async function  fetchHourlyData(range = "1d") {
        try {
            const response = await fetch (`/api/hourly_history/?range=${range}`);
            const hourlyData = await response.json();

            if (!Array.isArray(hourlyData) || hourlyData.length === 0) {

                document.getElementById("chartMessage").classList.remove("hidden");

                if (combineChart) {
                combineChart.data.datasets.forEach(ds => ds.data = []);
                combineChart.update();
                }
                console.warn("No data available.");
                return;
            }
            const phPoints = hourlyData.map(h => ({
                x: new Date(h.hour),
                y: h.avg_ph
            }));

            const tdsPoints = hourlyData.map(h => ({
                x: new Date(h.hour),
                y: h.avg_tds
            }));

            const tempPoints = hourlyData.map(h => ({
                x: new Date(h.hour),
                y: h.avg_temp
            }));

            const humidityPoints = hourlyData.map(h => ({
                x: new Date(h.hour),
                y: h.avg_humidity
            }));

            if (!combineChart) {

                combineChart = createCombinedChart(
                    document.getElementById("combineChart"),
                    [
                        {
                            label: "pH",
                            data: phPoints,
                            borderColor: "#0d6efd",
                            backgroundColor: "#0d6efd33",
                            tension: 0.3,
                            fill: false,
                            pointRadius: 2,
                            yAxisID: 'y'
                        },
                        {
                            label: "Temperature (°C)",
                            data: tempPoints,
                            borderColor: "#ffc107",
                            backgroundColor: "#ffc10733",
                            tension: 0.3,
                            fill: false,
                            pointRadius: 2,
                            yAxisID: 'y'
                        },
                        {
                            label: "Humidity (%)",
                            data: humidityPoints,
                            borderColor: "#fd7e14",
                            backgroundColor: "#fd7e1433",
                            tension: 0.3,
                            fill: false,
                            pointRadius: 2,
                            yAxisID: 'y1'
                        },
                        {
                            label: "TDS (ppm)",
                            data: tdsPoints,
                            borderColor: "#198754",
                            backgroundColor: "#19875433",
                            tension: 0.3,
                            fill: false,
                            pointRadius: 2,
                            yAxisID: 'y1'
                        }
                    ]
                );

            } else {

                combineChart.data.datasets[0].data = phPoints;
                combineChart.data.datasets[1].data = tempPoints;
                combineChart.data.datasets[2].data = humidityPoints;
                combineChart.data.datasets[3].data = tdsPoints;

                combineChart.update();
            }
            
            document.getElementById("chartMessage").classList.add("hidden");

        } catch (err) {
            console.error("Failed to fetch hourly data:", err);
        }
    }

    // initial
    fetchCurrentData();
    fetchHourlyData("3d");

    // Refresh periodically
    setInterval(fetchCurrentData, 60000); //1min
    setInterval(fetchHourlyData, 3600000); // 1h


    // Optional: dynamically change range
    function changeRange(newRange) {
        fetchHourlyData(newRange);
    }

</script>
{% endblock %}