FIREBASE_CREDENTIALS_JSON= {} # obtain via firebase dashboard
FIREBASE_DB_URL=

# whatsapp service
WHATSAPP_TOKEN=
WHATSAPP_PHONE_ID=  # business phone number provided by Meta
USER_PHONE_NUMBER=  # phone number ot receive notification